<?xml version="1.0"?>
<launch>
  <arg name="LOG_LEVEL" default="Info"/>
  <arg name="DEBUG" default="false"/>

  <arg unless="$(arg DEBUG)" name="DEPLOYER_NAME" value="deployer"/>
  <arg     if="$(arg DEBUG)" name="DEPLOYER_NAME" value="deployer-debug"/>

  <!-- Orocos target (gnulinux, xenomai, etc) -->
  <arg name="OROCOS_TARGET" default="$(optenv OROCOS_TARGET)"/>
  <!-- Path to look for dynamically-loaded plugins and components (something like /lib/orocos) -->
  <arg name="RTT_COMPONENT_PATH" default="$(env RTT_COMPONENT_PATH)"/>

  <node
    name="velma_lli_lo"
    pkg="rtt_ros" type="$(arg DEPLOYER_NAME)"
    args="--DeployerName velma_lli_lo -l $(arg LOG_LEVEL) -s $(find velma_low_level_interface)/config/velma_lli_test_sim_lo.ops --" output="screen">
    <env name="OROCOS_TARGET" value="$(arg OROCOS_TARGET)"/>
    <env name="RTT_COMPONENT_PATH" value="$(arg RTT_COMPONENT_PATH)"/>
  </node>

</launch>
