<?xml version="1.0"?>
<launch>
  <arg name="LOG_LEVEL" default="error"/>
  <arg name="DEBUG" default="false"/>

  <!-- Orocos target (gnulinux, xenomai, etc) -->
  <arg name="OROCOS_TARGET" default="$(optenv OROCOS_TARGET)"/>
  <!-- Path to look for dynamically-loaded plugins and components (something like /lib/orocos) -->
  <arg name="RTT_COMPONENT_PATH" default="$(env RTT_COMPONENT_PATH)"/>

  <node
    name="velma_lli_lo"
    pkg="rtt_ros" type="deployer"
    args="--DeployerName velma_lli_lo -l $(arg LOG_LEVEL) -s $(find velma_low_level_interface)/config/velma_lli_test_3_lo.ops --" output="screen">
    <env name="OROCOS_TARGET" value="$(arg OROCOS_TARGET)"/>
    <env name="RTT_COMPONENT_PATH" value="$(arg RTT_COMPONENT_PATH)"/>
  </node>
<!--
  <node
    name="velma_lli_hi"
    pkg="rtt_ros" type="deployer"
    args="- -DeployerName velma_lli_hi -l $(arg LOG_LEVEL) -s $(find velma_low_level_interface)/config/velma_lli_test_hi.ops - -" output="screen">
    <env name="OROCOS_TARGET" value="$(arg OROCOS_TARGET)"/>
    <env name="RTT_COMPONENT_PATH" value="$(arg RTT_COMPONENT_PATH)"/>
  </node>
-->
</launch>
